<ion-header>
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <br><br>
  <ion-card>
    <ion-label><h1>LOGIN</h1></ion-label>
  </ion-card>






  <ion-card text-center>
    <ion-select placeholder="REGISTER" [(ngModel)]="statusop">
      <ion-select-option value="student">STUDENT</ion-select-option>
      <ion-select-option value="teacher">TEACHER</ion-select-option>
    </ion-select>
  </ion-card>
  <form>
    <div *ngIf="statusop == 'student'" text-center>

      <ion-card><br><br>
        <ion-label>:: USERNAME ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <ion-label>:: PASSWORD ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <ion-label>:: ID STUDENT ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <ion-label>:: FULL NAME ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <label class="item item-input item-select">:: STATUS ::
          <div class="input-label"></div><br>
          <select>
            <option>นักเรียน</option>
          </select>
        </label><br><br>
        <ion-label>:: EMAILL ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <ion-row>
          <ion-col>
            <ion-button color="dark">addstudent</ion-button>
            <ion-button color="dark">cancle</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>

    </div>
  </form>

  <form>
    <div *ngIf="statusop == 'teacher'" text-center>
      <ion-card><br><br>
        <ion-label>:: USERNAME ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <ion-label>:: PASSWORD ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <ion-label>:: ID TEACHER ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <ion-label>:: FULL NAME ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <label class="item item-input item-select">:: STATUS ::
          <div class="input-label"></div><br>
          <select>
            <option>อาจารย์</option>
          </select>
        </label><br><br>
        <ion-label>:: EMAILL ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล"></ion-input>
        <ion-row>
          <ion-col>
            <ion-button color="dark">addteacher</ion-button>
            <ion-button color="dark">cancle</ion-button>
          </ion-col>
        </ion-row><br>
      </ion-card>


    </div>
  </form>
</ion-content>