<ion-header>
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <br><br>
  <ion-card>
    <ion-label routerLink="/login">
      <h1>LOGIN</h1>
    </ion-label>
  </ion-card>

  <ion-card text-center>
    <ion-select placeholder="REGISTER" [(ngModel)]="statusop">
      <ion-select-option value="student">STUDENT</ion-select-option>
      <ion-select-option value="teacher">TEACHER</ion-select-option>
    </ion-select>
  </ion-card>
  <form [formGroup]="studentData">
    <div *ngIf="statusop == 'student'" text-center>
      <ion-card><br><br>
        <ion-label>:: ID STUDENT ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='idStudent'></ion-input>
        <ion-label>:: USERNAME ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='usernameStudent'></ion-input>
        <ion-label>:: PASSWORD ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='passwordStudent'></ion-input>
        <ion-label>:: FULL NAME ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='nameStudent'></ion-input>
        <ion-label>:: EMAILL ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='emailStudent'></ion-input>
        <label class="item item-input item-select">:: STATUS ::
          <div class="input-label"></div><br>
          <select formControlName='status'>
            <option>นักเรียน</option>
            <option>อาจารย์</option>
          </select>
        </label><br><br>
        <ion-row>
          <ion-col>
            <ion-button color="dark" (click)="addStudent(data)">addstudent</ion-button>
            <ion-button color="dark" routerLink="/home">cancle</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>

    </div>
  </form>

  <form [formGroup]="teacherData">
    <div *ngIf="statusop == 'teacher'" text-center>
      <ion-card><br><br>

        <ion-label>:: ID TEACHER ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='idTeacher'></ion-input>
        <ion-label>:: USERNAME ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='usernameTeacher'></ion-input>
        <ion-label>:: PASSWORD ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='passwordTeacher'></ion-input>
        <ion-label>:: FULL NAME ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='nameTeacher'></ion-input>
        <ion-label>:: EMAILL ::</ion-label>
        <ion-input color="warning" placeholder="กรุณากรอกข้อมูล" formControlName='emailTeacher'></ion-input>
        <label class="item item-input item-select">:: STATUS ::
          <div class="input-label"></div><br>
          <select formControlName='status'>
            <option>นักเรียน</option>
            <option>อาจารย์</option>
          </select>
        </label><br><br>
        <ion-row>
          <ion-col>
            <ion-button color="dark" (click)="addTeacher(data)">addteacher</ion-button>
            <ion-button color="dark" routerLink="/home">cancle</ion-button>
          </ion-col>
        </ion-row><br>
      </ion-card>


    </div>
  </form>
</ion-content>